USE [master]
GO
/****** Object:  Database [LibraryManagement]    Script Date: 5/12/2025 4:43:30 PM ******/
CREATE DATABASE [LibraryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LibraryManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LibraryManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagement]
GO
/****** Object:  Table [dbo].[ISBook]    Script Date: 5/12/2025 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ISBook](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[std_enroll] [nvarchar](250) NOT NULL,
	[std_name] [nvarchar](250) NOT NULL,
	[std_dep] [nvarchar](250) NOT NULL,
	[std_sem] [nvarchar](250) NOT NULL,
	[std_contact] [bigint] NOT NULL,
	[std_email] [nvarchar](250) NOT NULL,
	[book_name] [nvarchar](1250) NOT NULL,
	[book_issue_date] [nvarchar](250) NOT NULL,
	[book_return_date] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginTable]    Script Date: 5/12/2025 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginTable](
	[username] [varchar](150) NOT NULL,
	[pass] [varchar](150) NOT NULL,
	[role_User] [nvarchar](150) NULL,
 CONSTRAINT [PK__loginTab__3213E83F10E316B1] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewBook]    Script Date: 5/12/2025 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewBook](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[tacgia] [nvarchar](250) NOT NULL,
	[xuatban] [nvarchar](250) NOT NULL,
	[ngaygio] [nvarchar](250) NOT NULL,
	[gia] [bigint] NOT NULL,
	[charluong] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewStudent]    Script Date: 5/12/2025 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewStudent](
	[hoten] [nvarchar](250) NOT NULL,
	[mssv] [nvarchar](250) NOT NULL,
	[coso] [nvarchar](250) NOT NULL,
	[namhoc] [nvarchar](250) NOT NULL,
	[dienthoai] [bigint] NOT NULL,
	[email] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_NewStudent] PRIMARY KEY CLUSTERED 
(
	[hoten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ISBook] ON 

INSERT [dbo].[ISBook] ([id], [std_enroll], [std_name], [std_dep], [std_sem], [std_contact], [std_email], [book_name], [book_issue_date], [book_return_date]) VALUES (1, N'2254050034', N'Nguyễn Trí Lợi', N'Nhà Bè', N'2022', 395936918, N'2254050034loi@ou.edu.vn', N'Lập trình web', N'Tuesday, April 8, 2025', NULL)
INSERT [dbo].[ISBook] ([id], [std_enroll], [std_name], [std_dep], [std_sem], [std_contact], [std_email], [book_name], [book_issue_date], [book_return_date]) VALUES (2, N'2254052040', N'Lê H?u L?c', N'Nhà Bè', N'2022', 395836918, N'2254052040loc@ou.edu.vn', N'L?p trình web', N'Tuesday, April 8, 2025', N'Tuesday, April 8, 2025')
INSERT [dbo].[ISBook] ([id], [std_enroll], [std_name], [std_dep], [std_sem], [std_contact], [std_email], [book_name], [book_issue_date], [book_return_date]) VALUES (3, N'2254052040', N'Lê H?u L?c', N'Nhà Bè', N'2022', 395836918, N'2254052040loc@ou.edu.vn', N'Công ngh? ph?n m?m', N'Tuesday, April 8, 2025', NULL)
SET IDENTITY_INSERT [dbo].[ISBook] OFF
GO
INSERT [dbo].[LoginTable] ([username], [pass], [role_User]) VALUES (N'admin', N'123', N'admin')
INSERT [dbo].[LoginTable] ([username], [pass], [role_User]) VALUES (N'user', N'123', N'user')
GO
SET IDENTITY_INSERT [dbo].[NewBook] ON 

INSERT [dbo].[NewBook] ([id], [name], [tacgia], [xuatban], [ngaygio], [gia], [charluong]) VALUES (5, N'Lập trình web', N'Hương Thiên', N'studybook', N'Monday, March 31, 2025', 200, 54)
INSERT [dbo].[NewBook] ([id], [name], [tacgia], [xuatban], [ngaygio], [gia], [charluong]) VALUES (10, N'Công nghệ phần mềm', N'Hậu', N'studybook', N'Monday, March 31, 2025', 200, 350)
INSERT [dbo].[NewBook] ([id], [name], [tacgia], [xuatban], [ngaygio], [gia], [charluong]) VALUES (11, N'Lập trình cơ sở dữ liệu', N'Viết Tuấn', N'Sách học', N'Monday, March 31, 2025', 150, 32)
SET IDENTITY_INSERT [dbo].[NewBook] OFF
GO
INSERT [dbo].[NewStudent] ([hoten], [mssv], [coso], [namhoc], [dienthoai], [email]) VALUES (N'Lê Hữu Lộc', N'2254052040', N'Nhà Bè', N'2022', 123456, N'2254052040loc@ou.edu.vn')
INSERT [dbo].[NewStudent] ([hoten], [mssv], [coso], [namhoc], [dienthoai], [email]) VALUES (N'Lê Thị C', N'2354050031', N'Mai Thị Lựu', N'2023', 123457, N'2354050031c@ou.edu.vn')
INSERT [dbo].[NewStudent] ([hoten], [mssv], [coso], [namhoc], [dienthoai], [email]) VALUES (N'Nguyễn Trí Lợi', N'2254050034', N'Nhà Bè', N'2022', 123458, N'2254050034loi@ou.edu.vn')
GO
/****** Object:  StoredProcedure [dbo].[proc_login]    Script Date: 5/12/2025 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_login]
@username nvarchar(150),
@password  nvarchar(150)
as
begin 
	select * from LoginTable where username=@username and pass=@password
end
GO
USE [master]
GO
